.root {
      -fx-background-image: url("EditLichKab.png");
 }

#welcome-text {
    -fx-font-size: 45px;
    -fx-font-family: "Microsoft JhengHei Light";
    -fx-fill: black;
}


#Label {
    -fx-font-size: 20px;
    -fx-font-family: "Microsoft JhengHei Light";
    -fx-text-fill: black;
}

#buttons {
 -fx-pref-width: 170px;
 -fx-pref-height: 40px;
 -fx-border-radius: 7;
 -fx-background-radius: 7;
 -fx-background-color:"white";
      -fx-font-family: "Microsoft JhengHei Light";
    -fx-font-size: 20;
    -fx-text-fill: "black";

 }

 #buttons:hover {
     -fx-background-color: transparent;
      -fx-border-color: "black" ;
          -fx-text-fill:"black";

 }

  /*   .combo-box-base .list-cell {
            -fx-background-color: white;
                      -fx-text-fill:"black";
            -fx-border-radius: 3;
            -fx-background-radius: 3;
               }


  .scroll-bar:horizontal, .scroll-bar:vertical{
      -fx-background-color:white;
                -fx-text-fill:"black";
        }

  .increment-button, .decrement-button {
      -fx-background-color: transparent;
      -fx-border-color: transparent;
                -fx-text-fill:"black";
       }


 .scroll-bar:vertical *.increment-arrow{
     -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
     -fx-background-color: black;
               -fx-text-fill:"black";
 }

 .scroll-bar:vertical *.decrement-arrow{
     -fx-shape: "M 0 4 L 8 4 L 4 0 Z";
     -fx-background-color: black;
               -fx-text-fill:"black";
 }

 .scroll-bar:horizontal *.increment-arrow{
     -fx-shape: "M 0 0 L 4 4 L 0 8 Z";
     -fx-background-color: black;
               -fx-text-fill:"black";
 }

 .scroll-bar:horizontal *.decrement-arrow{
     -fx-shape: "M 4 0 L 4 8 L 0 4 Z";
     -fx-background-color: black;
               -fx-text-fill:"black";
 }




  .scroll-bar:horizontal .thumb,
  .scroll-bar:vertical .thumb {
       -fx-background-color:white;
       -fx-border-color:"#b3b2b2";
       -fx-background-radius: 5em;
       -fx-border-radius: 5em;
                 -fx-text-fill:"black";
   }
*/



#field {
    -fx-border-color: "transparent" "transparent" "black" "transparent";
    -fx-background-color: transparent;
    -fx-font-size: 15px;
    -fx-font-family: "Microsoft JhengHei Light";
    -fx-text-fill: black;
}


#event{
    -fx-border-color:transparent;
    -fx-pref-width: 130px;
    -fx-border-width:3;
}

#event .arrow{
    -fx-background-color:"black";
}


#eye {
    -fx-background-color:"transparent";
}

