.root {
     -fx-background-image: url("BackForMapGREY.png");

}


#floors{
  -fx-pref-width: 180px;
  -fx-pref-height: 20px;
  -fx-border-radius: 6;
  -fx-background-radius: 6;
  -fx-background-color:"white";
  -fx-border-color: transparent;
      -fx-font-family: "Microsoft JhengHei Light";
     -fx-font-size: 15;
     -fx-text-fill: "black";
}

#floors:hover {
        -fx-background-color: transparent;
         -fx-border-color: "black" ;
             -fx-text-fill:"black";
}

/*#floors:pressed{
        -fx-background-color: transparent;
         -fx-border-color: "black" ;
             -fx-text-fill:"black";
}*/

#floor {
    -fx-pref-width: 100px;
    -fx-pref-height: 20px;
    -fx-border-radius: 6;
    -fx-background-radius: 6;
    -fx-background-color:"white";
    -fx-border-color: transparent;
        -fx-font-family: "Microsoft JhengHei Light";
       -fx-font-size: 15;
       -fx-text-fill: "black";
}

#floor:hover {
        -fx-background-color: transparent;
         -fx-border-color: "black" ;
             -fx-text-fill:"black";
}

/*#floor:pressed{
        -fx-background-color: transparent;
         -fx-border-color: "black" ;
             -fx-text-fill:"black";
}*/

  #buttons {
   -fx-pref-width: 182px;
   -fx-pref-height: 70px;
   -fx-background-color:"transparent";
   -fx-border-color: transparent;
   -fx-border-width: 0 2px 0 0 ;


   }


   #labels {
        -fx-font-size: 17px;
        -fx-font-family: "Microsoft JhengHei Light";
        -fx-text-fill: black;

   }


  #buttons:hover {
      -fx-background-color: transparent;
       -fx-border-color: "black"  ;
  }

